<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose"  class="" method="post">
    <label for="">Title</label><br>
<input type="text" name="postTitle"><br>
<label for="">Post</label><br>
<textarea name="composeText" id="" cols="30" rows="10"></textarea>
<button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>