.top-container{
    background-color: #e4f9f5;
    padding: 20px;
}
.middle-container{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottom-container{
    height: 200px;
    width: 200px;
    background-color: yellow;
}
body{
    margin: 0;
    text-align: center;
}
h1{
    margin: 0;
    width: 10%;
    margin: 0 auto;
}